body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el body cubra al menos el 100% de la altura de la ventana */
  background: url('./assets/recursos-img/paisaje.jpeg') no-repeat center center fixed; /* Fondo de imagen */
  background-size: cover;
}
header{
  min-height: 10vh;
}


main {
    min-height:71vh;
    padding-bottom: 60px; }
    

  
footer {
  min-height:5vh;

  position: relative;
  bottom: 0;
  width: 100%;
}
.logo{
    height: 40px;
}

.navbar-custom {
    background: linear-gradient(to right, yellow, blue, red);

  }
.risk-level-1 {
    background-color: blue;
    color: white;
}

.risk-level-2 {
            background-color: green;
            color: white;
}
.risk-level-0 {
  background-color: white; /* O el color de fondo predeterminado */
}
.card{
    width: 250px;
    
}

.card-img-top {
    height: 200px;
} 

.my-card {
  background-color: #7a95be; /* Azul muy claro para el fondo de la tarjeta */
  border: 1px solid transparent; /* Borde inicial transparente */
  transition: transform 0.3s, border-color 0.3s, background-color 0.3s; /* Transiciones suaves */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para la tarjeta */
}

.my-card:hover {
  transform: scale(1.05); /* Escala un poco más grande al pasar el ratón */
  border-color: #007BFF; /* Azul brillante */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto de elevación */
}