body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el body cubra al menos el 100% de la altura de la ventana */
  background: url('./assets/recursos-img/paisaje.jpeg') no-repeat center center fixed; /* Fondo de imagen */
  background-size: cover;
}
header{
  min-height: 10vh;
}


main {
    min-height:71vh;
    padding-bottom: 60px; }
    

  
footer {
  min-height:5vh;

  position: relative;
  bottom: 0;
  width: 100%;
}
.logo{
    height: 40px;
}

.navbar-custom {
    background: linear-gradient(to right, yellow, blue, red);

  }
.risk-level-1 {
    background-color: blue;
    color: white;
}

.risk-level-2 {
            background-color: green;
            color: white;
}
  
.card{
    width: 250px;
}

.card-img-top {
    height: 200px;
} 